.Bar {
  display: flex;
  max-height: 16vh;
  align-items: center;
  /*box-shadow: 5px 10px 18px #e7e7e7;*/
  padding: 10px;
  justify-content: center;
  
}

.Logo {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 1.4rem;
  letter-spacing: 5px;
  padding-left: 3rem;
}

.list {
  padding-top: 5px;
  padding-left: 3%;
  display: flex;
  justify-content: space-around;
}

.Bar li {
  display: inline;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 5px;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*@media screen and (max-width: 786) {
  .nav-link {
    font-size: 1rem;
    text-decoration: none;
  }
  .Bar li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
  }
}
*/

